# IDE configurations
.vscode/
.idea/

# cache
__pycache__/

# virtual environment
venv/

# space-intensive data
data/

# general test file
tests/playground.py

*.xlsx

run.sh

.d[0-9]*
*.e[0-9]*
*.o[0-9]*